body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    font-family: Arial, sans-serif;
}

img {
    display: block;
    image-rendering: pixelated;
    /* Make them non-selectable/draggable
       There's no way you need all of these */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

input {
    width: 3.5em;
}

label {
    margin-top: 12px;
    margin-bottom: 6px;
}

.numdisplay {
    display: flex;
    justify-content: center;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 10px;
}

.sizeinput {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto;
}

#tileBoard {
    display: grid;
}

#topbar {
    background-color: #bdbdbd;
    display: flex;
    justify-content: space-between;
}

#resetbutton {
    padding-top: 6px;
    padding-bottom: 6px;
}

#sizeinputs {
    display: grid;
    grid-template-columns: repeat(3, 4.5em);
    grid-template-rows: auto;
}

#scaleinput {
    margin-left: 10px;
    margin-top: 1em;
}